#body
{
    /*background: grey;*/
    background: url('../img/background.jpg') no-repeat center center;
    width: 1349px;
    height: auto;
    background-size: 100% 100%;
}
@media only screen and (min-width: 800px) {
    #side {
        display:none;
    }
}
.middle_menu
{
        margin-left: 279px;
    margin-top: 3px;
}
.bg{
    background: url('../img/fifa5.jpg') no-repeat;
    background-position: 0px 8px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    /*width: px;*/
    min-height: 400px;
    margin-top: 67px;
}
.bg:hover
{
    background: url('../img/fifa1.jpg') no-repeat;
    background-position: 0px 8px;
    -webkit-background-size: 100% 100%;
    -moz-background-size: 100% 100%;
    background-size: 100% 100%;
    /*width: px;*/
    min-height: 400px;
    margin-top: 67px;
}
.ui.menu.item:hover
{
    color: white!important;
    font-size: 16px;
    font-weight: bold;
}
.bg p
{
    font-family: 'Lobster', cursive;
    text-align: center;
    padding-top: 185px;
    color: white;
    text-shadow: black 0.3em 0.3em 0.3em;
    background: transparent;
    font-size: 20px;
}
#smid1,#smid2,#smid3
{
    width: 385px;
    background: rgba(192, 201, 53, 0.89);
}
#col
{
    background: rgba(0, 0, 0, 0.83);
}
#button2
{
    float: right;
}
#germany
{
    height: 193px;
}
.second_main p
{
    color: white;
}
#flag
{
    height: 241px;
}
/*#smid1
{
    height: 241px;
}*/
#smid3
{
    /*float: right;*/
    /*padding-bottom: 30px;
    /*background: teal;
    margin-left: 14px;
    height: 556px;
    background: teal;*/

}
#shot
{
    width: 286px;
}
#uis
{
    height: 440px;
    margin-top: 1px;
    margin-bottom: 34px;
}
.ui.menu {
    background: rgba(163, 163, 163, 0.9) !important;
}
.ui.segment
{
    background: rgba(27, 2, 2, 0.55)!important;
}
.ui.items>.item>.content>.header
{
    color: white!important;
}
body
{
    color: rgba(236, 221, 221, 0.87)!important;
}
#ugs
{
    background: #eddcf5;
}
.ui.items>.item>.content>.description
{
    color: rgba(239,227,227,.87)!important;
}
footer
{
    margin-top: 30px;
}